@import 'config';

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 5vh;
    width: 100%;
    background-color: $secondbackgroundcolor;
    &__text {
        font-size: 1.25em;
        margin: 0rem 1rem;
        text-align: center;
        &--italic {
            font-style: italic;
        }
        &--bold {
            font-weight: 500;
        }
    }
    @media only screen and (max-width: $Large) {
        flex-direction: column;
        max-height: 10vh;
        padding: .5rem 0;
        &__text {
            margin: 0;
            font-size: 1em;
            &--breakline {
                white-space: pre;
            }
        }
    }
}
