@import 'config';

.home {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 90vh;
    width: 45vw;
    &__title {
        font-size: 3em;
        text-transform: uppercase;
        text-align: center;
    }
    &__card {
        display: grid;
        grid-template-rows: auto max(75%);
        border: $border;
        border-radius: 1rem;
        margin: 0rem 1rem 2rem 1rem;
        padding: 2.5rem;
    }
    &__subtitle {
        font-size: 2em;
        grid-column: 1;
        grid-row: 1;
        margin: 0;
        text-align: center;
    }
    &__text {
        grid-column: 1;
        grid-row: 2;
    }
    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        height: 100%;
        width: 100%;
        grid-column: 2;
        grid-row: 1/3;
    }
    &__button {
        width: 100%;
        height: 100%;
    }
    @media only screen and (max-width: $Large) {
        width: 90vw;
        &__card {
            display: flex;
            flex-direction: column;
            grid-template-columns: none;
            grid-template-rows: none;
            padding: 1rem;
        }
        &__link {
            grid-column: none;
            grid-row: none;
        }
        &__text {
            grid-column: none;
            grid-row: none;
            text-align:justify;
            margin: 1rem 2rem;
        }
        &__subtitle {
            grid-column: none;
            grid-row: none;
        }
    }
}
